@import '../../mixins'
    
.login
    .login-container
        box-shadow: 0px 0px 5px 2px #bababa
        width: 90vw
        margin: 0 auto
        padding: 30px 0px 0px 0px
        max-width: 300px
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        .select-form-input
            background-color: #EEEEEE
            display: inline-block
            border-radius: 100px
            .select-form-input__button
                padding: 5px 15px
                border-radius: 100px
                border: 0
                background-color: transparent
                cursor: pointer
            .select-form-input__button--active
                color: #fff
                @include backgroundGradient
                &:focus,
                &:active
                    outline: 0