@import '../../mixins'
    
.dashboard-nav
    height: 50px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 30px
    color: #fff
    @include backgroundGradient
    .dashboard-nav__logo
        font-size: 25px
    .dashboard-nav__username
        font-size: 18px