@import '../../mixins'

.dashboard
    margin: 0 auto
    width: 100vw
    max-width: 1800px
    display: block
    justify-content: center
    position: relative
    .dashboard__main
        width: 100%
        max-width: 1000px
    .asideNav__footer
        text-align: center

@media (orientation: landscape)
    .dashboard
        width: 90vw
        max-width: 1800px
        display: flex
        .dashboard__main
            width: 100%

@media (min-width: 1300px)
    .dashboard
        width: 90vw
        max-width: 1800px
        display: flex